#General use .gitignore for Minecraft modding.

#Folders
/.idea/*
/.gradle/*
/build/*
/eclipse/*
/run/*
/out/*
/asm/*
/bin/*
/lib/*

#File Extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project

#Specific files
curse.gradle
Thumbs.db
/bin/
